body {
    padding: 0px;
    margin: 0px;
}

.Header {
    height: 500px;

}

#Profile-pic {
    max-width: 400px;
    height: 400px;
    border-radius: 20px;
    object-fit: cover;
    display: inline-block;
    margin: 50px;
    border: 3px solid black;
}

.Name {
    font-size: 100px;
    font-family: silkscreen, helvetica, Arial;
    vertical-align: top;
    text-decoration: underline;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.summary {
    font-family: helvetica, Arial;
    font-size: 40px;
    vertical-align: top;
    padding: 0px;
    margin: 0px;

}

 .Name-heading {
    display: inline-block;
    top: 0;
    vertical-align: top;
    margin: 0px;
    padding: 0px;

}